.card_seguros {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: red;
}

.produto_1 {
  padding: 100px;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: center;
  background: rgb(245, 245, 245);
}

.foto_produto img {
  border-radius: 5%;
  /* width: 100%; */
}

.produto_2 {
  display: flex;
  flex-direction: row-reverse;
  background: blue;
}

.produto_texto {
  padding: 100px;
  color: #141e28;
}

.produto_texto h1 {
  margin-bottom: 20px;
  
}