.card_seguros {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.card_seguros button {
  margin-top: 30px;
}

.produto_1 {
  padding: 100px;
  display: flex;
  align-content: baseline;
  /* flex-wrap: wrap; */
  justify-content: center;
  background: rgb(245, 245, 245);
}

.foto_produto img {
  border-radius: 5%;
  /* width: 100%; */
}

.produto_2 {
  padding: 100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  background: #141e28;
}

.produto_texto_1 {
  padding: 100px;
  color: #141e28;
}

.produto_texto_1 h1 {
  margin-bottom: 20px;

}

.produto_texto_2 {
  text-align: right;
  padding: 100px;
  color: #ffffff;
}

.produto_texto_2 h1 {
  margin-bottom: 20px;

}