body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.formulario_contato {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box; /* Garante que o padding não afete a largura total */
}

textarea {
    resize: vertical; /* Permite redimensionar verticalmente, se desejado */
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #141e28;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #003d7a;
}
