.header {
    backdrop-filter: blur(50px);
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    padding: 1.3rem 10%;
}

.logo {
    width: 8rem;
    height: auto;

}

.navigation a {
    font-size: 1.10rem;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    /* cursor: pointer; */
}

.navigation a:hover {
    font-size: 1.10rem;
    color: rgb(0, 145, 202);
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    /* cursor: pointer; */
}


.icons {
font-size: 2.8rem;
color: white;
cursor: pointer;
display: none;
}